/RemoterSA_beta8/
/Export/
/.vs
/bin
/obj
/csharp/VL.Remoter.Utils/.vs/
/csharp/VL.Remoter.Utils/bin/
/csharp/VL.Remoter.Utils/obj/
/GetActiveConsoleSessionID/.vs/
/GetActiveConsoleSessionID/GetActiv.43a5abc8
/GetActiveConsoleSessionID/x64/
